<?xml version='1.1' encoding='UTF-8'?>
<flow-definition plugin="workflow-job@2.40">
  <actions>
    <org.jenkinsci.plugins.pipeline.modeldefinition.actions.DeclarativeJobAction plugin="pipeline-model-definition@1.8.4"/>
    <org.jenkinsci.plugins.pipeline.modeldefinition.actions.DeclarativeJobPropertyTrackerAction plugin="pipeline-model-definition@1.8.4">
      <jobProperties/>
      <triggers/>
      <parameters/>
      <options/>
    </org.jenkinsci.plugins.pipeline.modeldefinition.actions.DeclarativeJobPropertyTrackerAction>
  </actions>
  <description>Run Hackbench repeatedly and collect current values from sysfs.</description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.StringParameterDefinition>
          <name>NODE</name>
          <description></description>
          <defaultValue></defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>ITERATIONS</name>
          <description>Number of hackbench iterations to run</description>
          <defaultValue>10</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>DELAY</name>
          <description>Time in seconds to wait between each hackbench run</description>
          <defaultValue>10</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>LOOPS</name>
          <description>Number of loops to perform in each hackbench run</description>
          <defaultValue>10000</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
  </properties>
  <definition class="org.jenkinsci.plugins.workflow.cps.CpsFlowDefinition" plugin="workflow-cps@2.90">
    <script>pipeline {
    agent { label params.NODE }

    stages {
        stage(&apos;Connect&apos;) {
            steps {
                sh &quot;&quot;&quot;
                adb connect ${env.IPADDRESS}:${env.PORT}
                &quot;&quot;&quot;
                cleanWs()
            }
        }
        stage(&apos;Hackbench&apos;) {
            steps {
                sh &apos;&apos;&apos;
                adb shell &quot;echo temp &gt; /sys/power/wake_lock&quot;
                adb shell &quot;&quot;&quot;
                cd /sdcard
                for i in \\$(seq ${ITERATIONS})
                do
                    battery_stats.sh hackbench_battery_\\$i.csv &amp;
                    pid=\\$!
                    hackbench -l ${LOOPS}
                    kill -9 \\$pid
                    sleep ${DELAY}
                done
                &quot;&quot;&quot;
                adb shell &quot;echo temp &gt; /sys/power/wake_unlock&quot;

                for i in $(seq ${ITERATIONS})
                do

                adb pull /sdcard/hackbench_battery_$i.csv .
                adb shell &quot;rm /sdcard/hackbench_battery_$i.csv&quot;
                python -c &quot;&quot;&quot;
import pandas as pd
import matplotlib.pyplot as plt

data = pd.read_csv(\\&quot;hackbench_battery_$i.csv\\&quot;)
df = pd.DataFrame(data)

df = df/1000
print(df.current.describe(percentiles=[0.9,0.95,0.99]))

ax = df.current.plot()

ax.set_title(&apos;Idle Current on Pixel 4&apos;)
ax.set_ylabel(&apos;Current mA&apos;)
ax.set_xlabel(&apos;Count&apos;)

plt.savefig(\\&quot;hackbench_battery_$i.png\\&quot;)
                &quot;&quot;&quot; &gt;&gt; summary.txt
                done
                &apos;&apos;&apos;
            }
        }
        stage(&apos;Archive&apos;) {
            steps {
                archiveArtifacts artifacts: &apos;hackbench_battery_*.csv&apos;, followSymlinks: false
                archiveArtifacts artifacts: &apos;hackbench_battery_*.png&apos;, followSymlinks: false
                archiveArtifacts artifacts: &apos;summary.txt&apos;, followSymlinks: false
            }
        }
    }
}
</script>
    <sandbox>true</sandbox>
  </definition>
  <triggers/>
  <disabled>false</disabled>
</flow-definition>